<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Player</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">YOURTUBE</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Introduce</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container mt-5">
      <h1 class="text-center mb-4">YouTube Music Search</h1>
      <div id="play_bar" class="fixed d-flex justify-content-center"></div>
      <form action="/search" method="post">
        <div class="row">
          <div class="col-11">
            <input
              class="form-control"
              type="text"
              name="query"
              placeholder="Enter search..."
            />
          </div>
          <div class="col-1">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </div>
      </form>
      <article class="mt-5">
        <div class="row row-cols-3" id="songsList">
          
        </div>
      </article>
    </main>
    <div class="music-player">
      <div class="music-player__info">
        <div class="img-container">
          <img
            src="https://qpic.y.qq.com/music_cover/qySHBaLckrOIYib7GXCWmDbG7K4GRBmyCWoHTnJrrSF6Zq0xj6zy39qTvt3HQuGbt/300?n=1"
            alt=""
            id="song-img"
          />
        </div>
        <div class="info-container">
          <div id="song-title">Ten bai hat</div>
          <strong id="song-channel">Ten ca sy</strong>
        </div>
      </div>
      <div class="music-player__controller">
        <div class="control-btn">
          <div class="repeat-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-repeat"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z"
              />
            </svg>
          </div>
          <div class="prev-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-skip-start-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M4 4a.5.5 0 0 1 1 0v3.248l6.267-3.636c.54-.313 1.232.066 1.232.696v7.384c0 .63-.692 1.01-1.232.697L5 8.753V12a.5.5 0 0 1-1 0z"
              />
            </svg>
          </div>
          <button class="play-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-play-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"
              />
            </svg>
          </button>

          <div class="next-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-skip-end-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.693 3.3 4 3.678 4 4.308v7.384c0 .63.692 1.01 1.233.697L11.5 8.753V12a.5.5 0 0 0 1 0z"
              />
            </svg>
          </div>
          <div class="shuffle-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#000000"
              class="bi bi-shuffle"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.6 9.6 0 0 0 7.556 8a9.6 9.6 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.6 10.6 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.6 9.6 0 0 0 6.444 8a9.6 9.6 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5"
              />
              <path
                d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192"
              />
            </svg>
          </div>
        </div>
        <div class="progress-container">
          <span id="current-time">0:00</span>
          <div class="progress-bar">
            <input
              type="range"
              class="timeline"
              max="100"
              value="0"
              step="0.1"
              class="timeline"
            />
          </div>
          <div class="progress-button"></div>
          <span id="total-time">0:00</span>
        </div>
      </div>
      <div class="music-player__other" id="volume-control">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-volume-up-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"
          />
          <path
            d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"
          />
          <path
            d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"
          />
        </svg>
        <div class="volume-slider">
          <input
            type="range"
            class="volume-range"
            min="0"
            max="1"
            step="0.1"
            value="1"
          />
        </div>
        <form action="/download" method="post">
          <input hidden type="text" name="txtSongUrl" id="txtSongUrl">
          <button type="button" id="download-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-download"
              viewBox="0 0 16 16"
            >
              <path
                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"
              />
              <path
                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"
              />
            </svg>
        </button>
    </form>
      </div>
    </div>
    <audio hidden controls autoplay id="audio_player">
      <source src="" type="audio/mp3" />
    </audio>

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      localStorage.setItem('songs', JSON.stringify([]));
      const timeline = document.querySelector(".timeline");
      const currentTimeSpan = document.getElementById("current-time");
      const totalTimeSpan = document.getElementById("total-time");
      const audio = document.querySelector("audio");
      const volumeControl = document.getElementById("volume-control");
      const volumeRange = document.querySelector(".volume-range");
      const playButton = document.querySelector(".play-btn");
      const nextButton = document.querySelector(".next-btn");
      const prevButton = document.querySelector(".prev-btn");
      const repeatButton = document.querySelector(".repeat-btn");
      const shuffleButton = document.querySelector(".shuffle-btn");

        // dowload 1 file
        $(document).ready(function() {
            $("#download-btn").click(function() {
              alert("click");
                const songUrl = $("#txtSongUrl").val(); // Giả sử bạn có một input với id là txtSongUrl để nhập URL bài hát
                $.ajax({
                    type: "POST",
                    url: "/download",
                    data: { txtSongUrl: songUrl }, // Gửi dữ liệu với key là txtSongUrl
                    success: function(response) {
                        console.log(response);
                    }
                });
            });
        });


      const shuffle = `<svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#000000"
              class="bi bi-shuffle"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.6 9.6 0 0 0 7.556 8a9.6 9.6 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.6 10.6 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.6 9.6 0 0 0 6.444 8a9.6 9.6 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5"
              />
              <path
                d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192"
              />
            </svg>`;
      const shuffleBlue = `<svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#0000FF"
              class="bi bi-shuffle"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.6 9.6 0 0 0 7.556 8a9.6 9.6 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.6 10.6 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.6 9.6 0 0 0 6.444 8a9.6 9.6 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5"
              />
              <path
                d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192"
              />
            </svg>`;

      const repeatBtn = `<svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-repeat"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z"
              />
            </svg>`;
      
          const repeatBtn1 = `<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-repeat-1" viewBox="0 0 16 16">
  <path d="M11 4v1.466a.25.25 0 0 0 .41.192l2.36-1.966a.25.25 0 0 0 0-.384l-2.36-1.966a.25.25 0 0 0-.41.192V3H5a5 5 0 0 0-4.48 7.223.5.5 0 0 0 .896-.446A4 4 0 0 1 5 4zm4.48 1.777a.5.5 0 0 0-.896.446A4 4 0 0 1 11 12H5.001v-1.466a.25.25 0 0 0-.41-.192l-2.36 1.966a.25.25 0 0 0 0 .384l2.36 1.966a.25.25 0 0 0 .41-.192V13h6a5 5 0 0 0 4.48-7.223Z"/>
  <path d="M9 5.5a.5.5 0 0 0-.854-.354l-1.75 1.75a.5.5 0 1 0 .708.708L8 6.707V10.5a.5.5 0 0 0 1 0z"/>
</svg>`;      

      const playIcon = ` <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-play-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"
            />
          </svg>`;

      const pauseIcon = ` <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-pause-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5m3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5"
          />
        </svg>`;

      function toggleAudio() {
        if (audio.paused) {
          audio.play();
          playButton.innerHTML = pauseIcon;
        } else {
          audio.pause();
          playButton.innerHTML = playIcon;
        }
      }

      playButton.addEventListener('click', toggleAudio);

      let indexSong = 0;

      function playSong(index) {
        
        indexSong = index;

        song = songsArray[index];
        document.getElementById("audio_player").src = song.audioUrl;
        document.getElementById("audio_player").play();
        document.getElementById("song-title").textContent = song.title;
        document.getElementById("song-channel").textContent = song.artist;
        document.getElementById("song-img").src = song.thumbnail;
        document.getElementById("song-img").alt = song.title;
        playButton.innerHTML = pauseIcon;
        document.getElementById("txtSongUrl").value = song.songUrl;
      }

      function nextSong() {
        indexSong++;
        if(indexSong > songsArray.length - 1) {
          indexSong = 0;
        }
        playSong(indexSong);
      }

      function prevSong() {
        indexSong--;
        if(indexSong < 0) {
          indexSong = songsArray.length - 1;
        }
        playSong(indexSong);
      }

      nextButton.addEventListener('click', nextSong);
      prevButton.addEventListener('click', prevSong);

      function changeSeek() {
        const time = (timeline.value * audio.duration) / 100;
        audio.currentTime = time;
      }
      timeline.addEventListener("change", changeSeek);

      // Cập nhật thời gian hiện tại và tổng thời lượng của audio
      audio.addEventListener("timeupdate", () => {
        const currentTime = formatTime(audio.currentTime);
        const totalTime = formatTime(audio.duration);
        currentTimeSpan.textContent = currentTime;
        totalTimeSpan.textContent = totalTime;

        // Cập nhật giá trị của thanh trượt
        const progress = (audio.currentTime / audio.duration) * 100;
        timeline.value = progress;
      });

      // Hàm chuyển đổi giây thành định dạng mm:ss
      function formatTime(seconds) {
        const minutes = Math.floor(seconds / 60);
        const remainingSeconds = Math.floor(seconds % 60);
        return `${minutes}:${
          remainingSeconds < 10 ? "0" : ""
        }${remainingSeconds}`;
      }

      volumeRange.addEventListener("input", () => {
        audio.volume = volumeRange.value;
      });


    </script>
    {% if songs %}
        <script>
        // Parse the JSON string to an array
        var songsArray = JSON.parse(`{{ songs|safe }}`);
        // Store the songs array in localStorage
        localStorage.setItem('songs', JSON.stringify(songsArray));
        </script>
    {% endif %}
    <script>
      displayHtml = "";
      var songsArray = JSON.parse(localStorage.getItem('songs'));
      if (songsArray) {
        for (var i = 0; i < songsArray.length; i++) {
          displayHtml += `
          <div class="col mb-4">
            <div
              class="mb-2 song-container"
              onclick="playSong('${i}')">
              <img
                src="${songsArray[i].thumbnail}"
                width="100%"
                alt="${songsArray[i].title}"
                class="rounded-3"
              />
            </div>
            <input type="hidden" name="songId" value="${songsArray[i].id}" />
            <p>${songsArray[i].title}</p>
          </div>
          `;
        }
        document.getElementById('songsList').innerHTML = displayHtml;
      } 

      let isRepeat = false;

      function repeatSong() {
        isRepeat = true;
        repeatButton.innerHTML = repeatBtn1;
      }

      function notRepeatSong() {
        isRepeat = false;
        repeatButton.innerHTML = repeatBtn;
      }

      repeatButton.addEventListener('click', () => (isRepeat ? notRepeatSong() : repeatSong()));

      audio.addEventListener('ended', ()=>(isRepeat ? playSong(indexSong): nextSong()));

      function shuffleArray(array) {
        let currentIndex = array.length, temporaryValue, randomIndex;

        while (currentIndex !== 0) {

          randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex -= 1;

          temporaryValue = array[currentIndex];
          array[currentIndex] = array[randomIndex];
          array[randomIndex] = temporaryValue;
        }

        return array;
      }

      let isShuffle = false;

      function shuffleSong() {
        isShuffle = true;
        shuffleButton.innerHTML = shuffleBlue;
        songsArray = shuffleArray(JSON.parse(localStorage.getItem('songs')));
      }

      function notShuffleSong() {
        isShuffle = false;
        shuffleButton.innerHTML = shuffle;
        songsArray = JSON.parse(localStorage.getItem('songs'));
      }

      shuffleButton.addEventListener('click', () => (isShuffle ? notShuffleSong() : shuffleSong()))

    </script>
  </body>
</html>
